<% if logged_in? %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
          <span><em><%= @user.organization %></em></span>
          <span><%= @user.email %></span>
      </section>
    </aside>
  </div>
  <%= form_tag user_path(@user), :method => 'get' do %>
    <div class="row">
        <div class="col-md-4">
              <%= label_tag :"search[name]", "Name" %>
              <%= text_field_tag :"search[name]", params[:search]["name"], class: 'form-control' %>
        </div>
        <div class="col-md-4">
              <%= label_tag :"search[name]", "Phone" %>      
              <%= text_field_tag :"search[phone]", params[:search]["phone"], class: 'form-control' %>
        </div>
        <div class="col-md-4">
              <%= label_tag :"search[name]", "License Plate" %>      
              <%= text_field_tag :"search[license_plate]", params[:search]["license_plate"], class: 'form-control' %>
        </div>        
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <%= submit_tag "Search", :name => nil, class: 'btn btn-primary form-control' %>
          <%= link_to "Create new customer?", new_user_customer_path(@user), :method => :get %> or 
          <%= link_to "Reset", root_path, :name => nil %>
      </div>
    </div>  
  <% end %>    
  <div class="row">
    <div class="col-md-8 col-md-offset-0">
      <% if @user.customers.any? %>
        <h3>Customers (<%= @customers.count %>)</h3>
        <ol class="customers">
          <%= render @customers %>
        </ol>
        <%= will_paginate @customers %>
      <% end %>
    </div>  
  </div>
<% else %>
  <% provide(:title, "Home") %>
  <div class="center jumbotron">
    <h1>Welcome to Smaug!</h1>

    <div class="row">
      <div class="col-md-3 col-md-offset-5">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>   
<script type="text/javascript">
  $(document).ready(function () {
  });
</script>