<li id="customer-<%= customer.id %>">
  <span class="user">
    <%= link_to customer.name, user_customer_path(@user, customer) %>
  	<%= customer.phone %>
  	<%= customer.license_plate %>  	
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(customer.created_at) %> ago.
    <% if current_user?(customer.user) %>
      <%= link_to "delete", user_customer_path(@user, customer), method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>    
  </span>
</li>