<div class="row">
  <h2>Additional Information</h2>
  <div class="col-md-5">
    <%= f.label :"formy[address]", "Address"%>
    <%= f.text_field :"formy[address]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-3">
    <%= f.label :"formy[email]", "Email"%>
    <%= f.text_field :"formy[email]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[vin]", "VIN"%>
    <%= f.text_field :"formy[vin]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[written_by]", "Written By"%>
    <%= f.text_field :"formy[written_by]", :value => nil, class: 'form-control'%>
  </div>
</div>