<div class="col-md-2">
  <%= f.label :"formy[odo]", "Odo"%>
  <%= f.text_field :"formy[odo]", :value => 60065, class: 'form-control' %>
</div>
<div class="col-md-2">
  <%= f.label :"formy[estimate]", "Original Estimate"%>
  <%= f.text_field :"formy[estimate]", :value => 350, class: 'form-control' %>
</div>
<div class="col-md-2">
  <%= f.label :"formy[invoice_no]", "Invoice #"%>
  <%= f.text_field :"formy[invoice_no]", :value => 123, class: 'form-control' %>
</div>  