<div class="col-md-2">
  <%= f.label :"formy[odo]", "Odo"%>
  <%= f.text_field :"formy[odo]", :value => 0, class: 'form-control' %>
</div>
<div class="col-md-2">
  <%= f.label :"formy[original_estimate]", "Orig. Estimate"%>
  <%= f.text_field :"formy[original_estimate]", :value => 0, class: 'form-control' %>
</div>
<div class="col-md-2">
  <%= f.label :"formy[invoice]", "Invoice #"%>
  <%= f.text_field :"formy[invoice]", :value => @invoice_no, class: 'form-control' %>
</div>  