<div class="row">
  <div class="col-md-3">
    <%= f.label :"formy[year]", "Year"%>
    <%= f.text_field :"formy[year]", :value => nil, class: 'form-control'%>   
  </div>
  <div class="col-md-3">
    <%= f.label :"formy[make]", "Make"%>
    <%= f.text_field :"formy[make]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[model]", "Model"%>
    <%= f.text_field :"formy[model]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[trim]", "Trim/Note"%>
    <%= f.text_field :"formy[trim]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[engine]", "Engine"%>
    <%= f.text_field :"formy[engine]", :value => nil, class: 'form-control'%>
  </div>            
</div>