
<div class="row">
<div class="col-md-1">
  <%= f.label :op, "OP"%>
  <%= f.text_field :op, :value => 1, class: "form-control"%>
</div>
<div class="col-md-8">
  <%= f.label :instruction, "Repair Order Instructions"%>
  <%= f.text_field :instruction, :value => "fix pls", class: "form-control"%>
</div>
<div class="col-md-2">
  <%= f.label :svc, "SVC CHG"%>
  <%= f.text_field :svc, :value => 350, class: "form-control"%>
</div>
<div class="col-md-1">
  <label>&nbsp;</label>
  <center>
    <div class="delete_repair">
      <button type="button" class="btn btn-danger btn-small">-</button>        
    </div>
  </center>
</div>
</div>