<% provide(:title, 'New Customer') %>
<center>
  <h1>New Customer</h1>
</center>
<%= form_for(@customer, :url => user_customers_path(@user, @customer)) do |customer| %>
  <%= customer.fields_for :pdf_forms, html: { multipart: true } do |pdf_form_form| %>
    <div class="row">
      <%= render 'shared/error_messages', object: customer.object %>
      <h2> Basic Information </h2>
      <div class="col-md-2">
        <%= customer.label :name, "Name" %>
        <%= customer.text_field :name, :value => "John Smith", class: 'form-control' %>
      </div>
      <div class="col-md-2">    
        <%= customer.label :phone %>
        <%= customer.text_field :phone, :value => "555-555-5555", class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= customer.label :license_plate %>
        <%= customer.text_field :license_plate, :value => "ABCD1234", class: 'form-control' %>
      </div>
      <%= render "pdf_one_fields", :f => pdf_form_form %>
    </div>

    <%= render "pdf_two_fields", :f => pdf_form_form %>

    <div class="row">
      <div class="col-md-12">
        <div class="toggle-optional">
          <%= check_box_tag 'show_optional', '', false %>
          <%= label_tag 'show_optional', 'Show additional fields?'%>
        </div>
      </div>
    </div>
    <div class="optional">
      <%= render "optional_fields", :f => pdf_form_form %>
    </div>

    <div class="row">
      <h2>Repair</h2>
    </div>
    <%= render "pdf_three_fields", :f => pdf_form_form %>
    <p><%= link_to_add_fields "+ Add row", pdf_form_form, :repairs %></p>

    <%= render "pdf_four_fields", :f => pdf_form_form %>
  <% end %>
  <div class="col-md-6 col-md-offset-3">
    <%= customer.submit "Create a new customer", class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function () {

    $('.year-dropdown').selectize({
        create: true,
        sortField: 'text',
    });

    $('.trim-dropdown').selectize({
        create: true,
        sortField: 'text',

    });

    // Make Model Year Dependent Dropdown 

    var xhr_make;
    var select_make, $select_make;
    var select_model, $select_model;

    $select_make = $('.make-dropdown').selectize({
      create: true,
      onChange: function(value) {
        if (!value.length) return;
        select_model.disable();
        select_model.clearOptions();
        select_model.load(function(callback) {
          xhr_make && xhr_make.abort();
          xhr_make = $.ajax({
            url: '/customers/load_models?make=' + value,
            success: function(results) {
              select_model.enable();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });
      }
    });

    $select_model = $('.model-dropdown').selectize({
      create: true,
      valueField: 'name',
      labelField: 'name',
      searchField: ['name']
    });

    select_model  = $select_model[0].selectize;
    select_make = $select_make[0].selectize;

    select_model.disable();


    // Instruction-SVC Dependent Dropdown 
    var xhr_instruction;
    var select_instruction, $select_instruction;
    var select_svc, $select_svc;


    $select_instruction = $('.instruction-dropdown').eq(0).selectize({
      create: true,
      onChange: function(value) {
        if (!value.length) return;
        select_svc.disable();
        select_svc.clearOptions();
        select_svc.load(function(callback) {
          xhr_instruction && xhr_instruction.abort();
          xhr_instruction = $.ajax({
            url: '/customers/load_prices?service=' + value,
            success: function(results) {
              select_svc.enable();
              select_svc.open();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });
      }
    });

    $select_svc = $('.svc-dropdown').eq(0).selectize({
      create: true,
      valueField: 'price',
      labelField: 'price',
      searchField: ['price'],
    });

    select_svc  = $select_svc[0].selectize;
    select_instruction = $select_instruction[0].selectize;

    select_svc.disable();





    if($("#show_optional").is(":checked")){
       $('.optional').show();   
    }else{
       $('.optional').hide();
    };

    var ckbox = $('#show_optional');

    $('#show_optional').on('click',function () {
      if (ckbox.is(':checked')) {
        $('.optional').show();
      } else {
         $('.optional').hide();
      }
    });
});
</script>