<% provide(:title, 'New Customer') %>
<center>
  <h1>New Customer</h1>
</center>
<%= form_for(@customer, :url => user_customers_path(@user, @customer)) do |customer| %>
  <%= customer.fields_for :pdf_forms, html: { multipart: true } do |pdf_form_form| %>
    <div class="row">
      <%= render 'shared/error_messages', object: customer.object %>
      <h2> Basic Information </h2>
      <div class="col-md-2">
        <%= customer.label :name %>
        <%= customer.text_field :name, :value => "John Smith", class: 'form-control' %>
      </div>
      <div class="col-md-2">    
        <%= customer.label :phone %>
        <%= customer.text_field :phone, :value => "555-555-5555", class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= customer.label :license_plate %>
        <%= customer.text_field :license_plate, :value => "ABCD1234", class: 'form-control' %>
      </div>
      <%= render "pdf_one_fields", :f => pdf_form_form %>
    </div>

    <%= render "pdf_two_fields", :f => pdf_form_form %>

    <div class="row">
      <div class="col-md-12">
        <div class="toggle-optional">
          <%= check_box_tag 'show_optional', '', false %>
          <%= label_tag 'show_optional', 'Show optional fields?'%>
        </div>
      </div>
    </div>
    <div class="optional">
      <%= render "optional_fields", :f => pdf_form_form %>
    </div>

    <div class="row">
      <h2>Repair</h2>
    </div>
    <%= render "pdf_three_fields", :f => pdf_form_form %>
    <p><%= link_to_add_fields "+ Add row", pdf_form_form, :repairs %></p>

    <%= render "pdf_four_fields", :f => pdf_form_form %>
  <% end %>
  <div class="col-md-6 col-md-offset-3">
    <%= customer.submit "Create a new customer", class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function () {


    $('.make-d').selectize({
        create: true,
        sortField: 'text',
    });

    $('.model-d').selectize({
        create: true,
        sortField: 'text',
    });

    $('.year-d').selectize({
        create: true,
        sortField: 'text',
    });

    // $('.model-dropdown > .selectize-control > .selectize-input').click()
    // $('.model-dropdown > .selectize-control > .selectize-input').blur()
    // $('#customer_name').focus();
    


    if($("#show_optional").is(":checked")){
       $('.optional').show();   
    }else{
       $('.optional').hide();
    };

    var ckbox = $('#show_optional');

    $('#show_optional').on('click',function () {
      if (ckbox.is(':checked')) {
        $('.optional').show();
      } else {
         $('.optional').hide();
      }
    });

    $('.delete_repair').click(function(){
        $(this).closest('.row').remove()
    });


});
</script>