<div class="row">
  <h2>Additional Information</h2>
  <div class="col-md-5">
    <%= f.label :"content[address]", "Address"%>
    <%= f.text_field :"content[address]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-3">
    <%= f.label :"content[email]", "Email"%>
    <%= f.text_field :"content[email]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"content[vin]", "VIN"%>
    <%= f.text_field :"content[vin]", :value => nil, class: 'form-control'%>
  </div>
  <div class="col-md-2">
    <%= f.label :"content[written_by]", "Written By"%>
    <%= f.text_field :"content[written_by]", :value => nil, class: 'form-control'%>
  </div>
</div>