<li id="pdf_form-<%= pdf_form.id %>">
  <span class="user">
    <%= link_to pdf_form.created_at.localtime.strftime('%b %d, %Y'), pdf_form.file.url %>	
  </span>
  <div class="content">
	<div class="cols" style="width: 100%;">
		<div style="float: left; width: 33%;">
			<strong>Invoice #:</strong> <%= pdf_form.content[:invoice] if !pdf_form.content[:invoice].blank? %><%= "NA" if pdf_form.content[:invoice].blank? %>
		</div>
		<div style="float: left; width: 33%;">
			<strong>Odo:</strong> <%= (pdf_form.content[:odo]) if !pdf_form.content[:odo].blank? %><%= "NA" if pdf_form.content[:odo].blank? %> miles
		</div>
		<div style="float: left; width: 33%;">
	  		<strong>Orig. Estimate:</strong> 
	  		<%= number_to_currency(number_to_human(pdf_form.content[:original_estimate], locale: 'en-US')) if !pdf_form.content[:original_estimate].blank? %>
	  		<%= "NA" if pdf_form.content[:original_estimate].blank? %>			
		</div>
		<br style="clear: left;" />
	</div>
    <ul>
    	<u>Services</u>
      <% pdf_form.repairs.each do |repair| %>
      	<li><em><%= repair.instruction %></em></li
        >
      <% end %>
	  <li><%= link_to pdf_form.file, pdf_form.file.url if pdf_form.file?%></li>
    </ul>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(pdf_form.created_at.localtime) %> ago.
    <% if false %>
    	<%= link_to "edit", edit_user_customer_pdf_form_path(@user, @customer, pdf_form) %>,     
    <% end %>
    <%= link_to "delete", user_customer_pdf_form_path(params[:user_id], @customer, pdf_form), method: :delete, data: { confirm: "You sure?" } %>    
  </span>
</li>