<div class="row">
  <div class="col-md-3">
    <%= f.label :"formy[year]", "Year"%>
    <%= f.text_field :"formy[year]", :value => nil, class: 'form-control' %>
    <% if false %>    
      <%= f.grouped_collection_select :"formy[year]", Model.order(:name), :years, :name, :name, :name, {:selected => "whatever_value", include_blank: true}, class: 'year-dropdown form-control' %>
    <% end %>    
  </div>
  <div class="col-md-3">
    <%= f.label :"formy[make]", "Make" %><br />
    <%= f.collection_select :"formy[make]", Make.order(:name), :name, :name, {:selected => "whatever_value", include_blank: true}, class: 'make-dropdown form-control' %> 
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[model]", "Model" %><br />
    <%= f.grouped_collection_select :"formy[model]", Make.order(:name), :models, :name, :name, :name, {:selected => "whatever_value", include_blank: true}, class: 'model-dropdown form-control' %>    
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[trim]", "Trim/Note"%>
    <%= f.collection_select :"formy[trim]", Trim.order(:name), :name, :name, {:selected => "whatever_value", include_blank: true}, class: 'trim-dropdown form-control' %> 
  </div>
  <div class="col-md-2">
    <%= f.label :"formy[engine]", "Engine"%>
    <%= f.text_field :"formy[engine]", :value => nil, class: 'form-control'%>
  </div>            
</div>