<% provide(:title, 'New PDF') %>
<center>
  <h1>New PDF</h1>
</center>
<%= form_for(@pdf_form, :url => user_customer_pdf_forms_path(@user, @customer), html: { multipart: true }) do |pdf_form_form| %>
    <div class="row">
      <%= render 'shared/error_messages', object: pdf_form_form.object %>
      <h2> Basic Information </h2>
      <div class="col-md-2">
        <%= label_tag :name %>
        <%= text_field_tag :name, @customer.name, :readonly => true, class: 'form-control' %>
      </div>
      <div class="col-md-2">    
        <%= label :phone, "Phone" %>
        <%= text_field_tag :phone, @customer.phone, :readonly => true, class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= label :license_plate, "License Plate" %>
        <%= text_field_tag :license_plate, @customer.license_plate, :readonly => true, class: 'form-control' %>
      </div>
      <%= render "pdf_one_fields", :f => pdf_form_form %>      
    </div>

    <%= render "pdf_two_fields", :f => pdf_form_form %>

    <div class="row">
      <div class="col-md-12">
        <div class="toggle-optional">
          <%= check_box_tag 'show_optional', '', false %>
          <%= label_tag 'show_optional', 'Show additional fields?'%>
        </div>
      </div>
    </div>
    <div class="optional">
      <%= render "optional_fields", :f => pdf_form_form %>
    </div>

    <div class="row">
      <h2>Repair</h2>
    </div>
    <%= render "pdf_three_fields", :f => pdf_form_form %>
    <p><%= link_to_add_fields "+ Add row", pdf_form_form, :repairs %></p>

  <%= render "pdf_four_fields", :f => pdf_form_form %>
  <div class="col-md-6 col-md-offset-3">
    <%= pdf_form_form.submit "Create a new PDF", class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
   <%= render "shared/custom_drop" %>
</script>